# Dependencies
node_modules/
.pnpm-store/

# Next.js build output
.next/
out/
build/
dist/

# PocketBase data & executables
pocketbase/pb_data/

# Environment variables & OS files
.env
.env.*
!.env.example
.env*.local
.DS_Store
Thumbs.db